<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color: var(--clr-h1-and-bold);
      text-decoration: none;
    }

    ul.link a:hover, ul.link a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">
    {%- for platform in site.sidebar %}
      <li>
        <a href="{{ platform.link }}">
          <span class="icon">{{ platform.icon }}</span>
          <span class="text">{{ platform.name }}</span>
        </a>
      </li>
    {%- endfor %}
  </ul>
</div>